<header>
    <div class="titles">
        <p class="second-title">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
        <p class="first-title">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</p>
        <p class="second-title">ISSN: 1234-5678</p>
    </div>

    <button class="language-btn">
        <img src="../../assets/language image.png" alt="language icon" />
        PT, BR
        <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 5L7 1H1L4 5Z" fill="#333333" stroke="#333333"/>
        </svg>          
    </button>

    <div class="info-login">
        <p>Bem vindo!</p>
        <p>alguem12@galoascience.com</p>
    </div>

    <div class="avatar">
        <img src="../../assets/persona.jpeg" alt="avatar">
        <p>2</p>
    </div>
</header>