<div class="container">
  <div class="grid-container">
    <div class="grid-side-menu">
      <side-menu></side-menu>
    </div>

    <div class="grid-header">
      <app-header></app-header>
    </div>

    <div class="grid-main">
      <div class="grid-video">
        <section-video></section-video>
      </div>
      <div class="grid-detail">
        <detail-panel></detail-panel>
      </div>
      <div class="grid-resume">
        <app-resume-component></app-resume-component>
      </div>
      <div class="grid-discussions">
        <discussions-panel></discussions-panel>
      </div>
      <div class="grid-footer">
        <h1>Footer</h1>
      </div>
    </div>
  </div>
</div>
