.container {
    width: 100vw;
    max-width: 136.6rem;
    display: flex;
}

.grid-video{
    grid-area: grid-video;
}

.grid-detail{
    grid-area: grid-detail;
}

.grid-resume {
    grid-area: grid-resume;
}

.grid-discussions{
    grid-area: grid-discussions;
}

.grid-footer {
    grid-area: grid-footer;
}


.grid-main {
    display: grid;
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

   grid-template-areas:
            "grid-video grid-video grid-video grid-detail"
            "grid-resume grid-resume grid-resume grid-resume"
            "grid-discussions grid-discussions grid-discussions grid-discussions"
            "grid-footer grid-footer grid-footer grid-footer";
}


.grid-side-menu { 
    grid-area: grid-side-menu; 
}

.grid-header { 
        grid-area: grid-header; 
        height: 68px;
    }

.grid-main { 
        grid-area: grid-main; 
    }

.grid-container {
         display: grid;
         width: 100%;
         grid-column-gap: 0px;
         grid-row-gap: 0px;

        grid-template-areas:
                 "grid-side-menu grid-header grid-header"
                 "grid-side-menu grid-main grid-main";
}
     