section{
   padding: 2.0rem 4.5rem 3.0rem 3rem;
}

button {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background: #ED7839;
    color: white;
    display: inline-flex;
    height: 3.1rem;
    padding: 0.6rem 1.2rem;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

.header-detail, .section-detail {
    color: #5C5C5C;
}

section > p {
    color: #ED7839;
    font-size: 1.4rem;
    text-align: right;
    padding: .35rem 0 .35rem 0;
    letter-spacing: 0.7px;
}

.section-detail {
    height: 43.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    border: 1px solid #ECECEC;
    padding: 1.6rem;
    line-height: 120%;
    overflow-y: scroll;

    p, .university-list{
        font-size: 1.2rem;
    }

    .university-list {
        color: #ADA0A0;
    }

    .authors-list {
        font-size: 1.4rem;
    }
}